.title {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: flex-start;
}

.option {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.textInput {
    font-size: 20px;
    font-weight: 400;
    height: 3vh;
    width: 35vh;
}

.longTextInput {
    font-size: 20px;
    font-weight: 400;
    height: 10vh;
    width: 40vh;
    padding-top: 0;
    resize: none;
}